<link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">

<img src="https://njtierney.updog.co/img/njt-logo-small.png" style="max-width:20%;min-width:40px; vertical-align:middle; float:left;" alt = "Nick logo" />

<h1> 
  <span style="color:#ffa500; font-weight:bold; text-align:center"> 
    Credibly 
  </span>
  <span style="color:#268bd2; font-weight:bold; text-align:center">
    Curious 
  </span>
</h1>
    
    <p>
      An rstats blog <span style="color:#268bd2;">(mostly) </span>
    </p>
    
  </center>
