body {
  max-width: 600px;
  /*color: #595959;*/
  margin: auto;
  padding: 1em;
  font-size: 1.1em;
}

p {
  line-height: 1.6em;
}

li {
  margin: 15px;
}

/* header and footer areas */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  color: none;
  /*background: #eee;*/
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { 
  font-size: 1.1em; 
  text-align: left;
  /*color: #ffa500;*/
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #268bd2;
  
  
}

/* code */
pre {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: none; /*#ddd; */
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  font-style: italic;
  border-left: 5px solid #ffa500;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

/* link colours */

a:link {
  color: #268bd2; /*#1d49a0;*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffa500;
}

a:visited {
  color: #ffa500;
}

