{{ partial "header.html" . }}
<div class="article-meta">
<!--<h2><span class="title">{{ .Title }}</span></h2>-->
<h2><span class="title" style = "color:#ffa500; font-weight:bold">{{ .Title }}</span> {{ if .Params.date }}<span class="date" style = "color:#268bd2; font-weight:bold">{{ $.Date.Format "2006/01/02" }}{{ end }} </span></h2>
<!--{{ with .Params.author }}<h4 class="author">{{ . }}</h4>{{ end }}-->
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
