body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #515151;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131; /* #2c5d86*/
  letter-spacing: -.025rem;
}

strong {
  color: #303030;
}
  
}
code {
  font-family: Monaco, monospace;
  font-size: 100%;
}
