.sidenote { float: right;
            clear: right;
            margin-right: -60%;
            width: 50%;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.1rem;
            line-height: 1.3;
            vertical-align: baseline;
            position: relative; 
    
}

/*
@media only screen and (max-width: 680px) {
    .sidenote {
        display: none;
        position: absolute;
        left: 115%;
        width: 300px;
    }
*/
