body {
  max-width: 680px;
  /*color: #595959;*/
  margin: auto;
  padding: 1em;
  font-size: 1.1em;
}

p {
  line-height: 1.6em;
}

li {
  margin: 15px;
  line-height: 1.6em;
}

/* header and footer areas */
.menu li { 
  display: inline-block; 
}
.article-meta, .menu a {
  text-decoration: none;
  color: none;
}
.terms { font-size: .9em; }
.menu, .article-meta, footer { text-align: center; }

.title-date {
  color:#268bd2; 
  font-weight:bold
}

.title { 
  font-size: 1.1em; 
  text-align: left;
  color:#ffa500; 
  font-weight:bold
}

.reading-time {
  color:#ffa500; 
  font-weight:bold
}

footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #268bd2;
}

/* code */
pre {
  border-radius: 10px;
  padding: 1em;
  background: #f8f8f8;
  overflow-x: auto;
  font-size: 1.2em;
}

code {
  background: none; /*#ddd; */
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  font-style: italic;
  border-left: 5px solid #ffa500;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

/* link colours */

a:link {
  color: #268bd2; /*#1d49a0;*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffa500;
}

a:visited {
  color: #ffa500;
}
