{{ partial "header.html" . }}

<div class="article-meta">

{{ if (gt .Params.date 0) }}
  <h3 class="title-date">
    {{ .Date.Format "2006-01-02" }}
  </h3>
{{ end }}

<h2><span class="title">
  {{ .Title | markdownify }}
</span></h2>

{{ with .Params.author }}
  <h3 class="author">
    {{ . }}
  </h3>
{{ end }}

<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
    {{ with ($.Param $i) }}
      {{ $i | title }}: 
        {{ range $k := . }}
          <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">
            {{$k}}
          </a> 
        {{ end }}
    {{ end }}
  {{ end }}
</p>

    <p class="reading-time">
      {{ $readTime := cond (gt .ReadingTime 1) "minute" "minute" }}
      {{ .ReadingTime }} {{ $readTime }} read
    </p>
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}

