<!DOCTYPE html>
<html>
<head>
{{ partial "head_custom.html" . }}
</head>
<body>
{{ partial "head_custom.html" . }}

<article>
    <div class="container">
        <div class="row">
            <div class="col-offset-2 col-8 top-20">
                <h2 style="text-align: center;">Oh noes! This page doesn't exist right now. Maybe you are looking for an R package?</h2>
            </div>
        </div>
        <div class="row">
            </div>
        </div>
</article>
{{ partial "foot_custom.html" . }}
</body>
</html>
