<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/hover.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>
  <body>
  <!-- <class="menuHeader"> -->
  <!--  <link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet"> -->
  <h1 style = "text-align: center">
    <a href={{.Site.BaseURL}}>
    <img class="hvr-grow" style="vertical-align:top; float:left; max-width:15%;" src="/imgs/njt-logo-small.png" alt="Nick logo" />
    </a>
  <span class="hvr-bob" style="color:#ffa500; font-weight:bold">Credibly</span>
  <span class="hvr-hang" style="color:#268bd2; font-weight:bold">Curious</span>
  </h1>
  <p style = "text-align: center">
    Nick Tierney's (mostly) rstats blog
  </p>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a class="hvr-float" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
  <!-- </class> -->
    </nav>
